* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f8f8f8;
    gap: 0; /* إزالة الفراغات بين العناصر */
    height: 100vh;
  margin: 100px;
}

.one, .two, .three {
    flex: 1;
    padding: 30px;
    color: white;
    text-align: left;
    height:50vh;
    font-size:50px;
}

/* تحديد الألوان لكل فئة */
.one {
    background-color: #d48229;
}

.two {
    background-color: #005f63;
}

.three {
    background-color: #023436;
}

h1 {
    font-size: 24px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

/* تصميم الأزرار */
button {
    padding: 10px 20px;
    border: 2px solid white;
    color: white;
    font-size: 14px;
    border-radius: 25px;
   
}
.b1{color: hsl(31, 77%, 52%) ;   }
  .b2{color: hsl(184, 100%, 22%) ;}  
  .b3{color: hsl(179, 100%, 13%) ;}  
button:hover {
    transform: scale(1.2); 
}

button{
    background-color: white;
    color: black;
}

img {
    width: 50px; 
    margin-bottom: 15px;
}

/* تصميم متجاوب للشاشات الصغيرة */
@media (max-width: 375px) {
    .all {
        flex-direction: column;
    }
}
@media (max-width: 1440px) {
    .all {
        flex-direction: column;
    }}
